*{
align-items: center;
}


body {
    background-color: rgb(4, 91, 98);
    text-align: center;
}

.container {
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color:#e5e3d0;
    width: 400px;
}

button {
    margin-top: 10px;
}

